#auth-panel {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.auth-box {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 0 40px rgba(59,130,246,.4);
}

.auth-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-box input,
.auth-box select,
.auth-box button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.auth-box button {
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

#error {
  margin-top: 10px;
  color: #f87171;
  font-size: 12px;
  text-align: center;
}




